body{
    background-color:cyan;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: "Josefin Sans", sans-serif ;
}

div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

h3 {
    padding: 20px 20px;
    background-color:ivory;
    color: hotpink;
    border-radius: 20px;
}

span {
    color: gold;
}

